<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>629095888262-sk7n074ouh7ccv80uoskkktae0gnp8h5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.629095888262-sk7n074ouh7ccv80uoskkktae0gnp8h5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>629095888262-gp237ua5emd4qom1inr16cvqepitjnqp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCSybY6gb92Iw5hLSHJA7euyFlSAXpCuU8</string>
	<key>GCM_SENDER_ID</key>
	<string>629095888262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vegasLit.sportsbook</string>
	<key>PROJECT_ID</key>
	<string>vegaslit</string>
	<key>STORAGE_BUCKET</key>
	<string>vegaslit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:629095888262:ios:7940a806f278dbbc752807</string>
	<key>DATABASE_URL</key>
	<string>https://vegaslit.firebaseio.com</string>
</dict>
</plist>